<div class="container">
  <div class="row no-gutters">
    <div class="col-md-20 col-sm-30 mx-10 mx-sm-auto">
      <div class="bg-light py-5 px-5">
        <h3 class="p-4 my-3">＜ユーザー情報＞</h3>

          <div class="mb-3">
            <%= image_tag @customer.get_profile_image(100,100) %>
          </div>

		      <table class="table table-hover">
  			    <tbody>
    			    <tr>
      				  <th class="table-dark">名前</th>
      				  <th><%= link_to @customer.last_name, customer_path(@customer.id) %></th>
    			    </tr>
    			    <tr>
    			      <th class="table-dark">自己紹介</th>
    			      <th><%= @customer.customer_introduction %></th>
    			    </tr>
  			    </tbody>
		      </table>

		      <% if current_customer.following?(customer) %>
		        <%= link_to "フォロー外す", customer_relationships_path(customer.id), method: :delete %>
		      <% else %>
		        <%= link_to "フォローする", customer_relationships_path(customer.id), method: :post %>
		      <% end %>

		      <h3>♡いいね一覧</h3>
		      <table class="table table-hover">
  				  <thead>
    				  <tr>
      					<th class="table-dark">投稿者名</th>
      					<th class="table-dark">タイトル</th>
    				  </tr>
  				  </thead>
  			    <tbody>
  			      <% if @favorites.present? %>
  			        <% @favorites.each do |favorite| %>
      				    <tr>
        				    <td><%= favorite.post.customer.last_name %></td>
        				    <td>
          					    <%= link_to post_path(favorite.post) do %>
            					    <%= favorite.post.title %>
          					    <% end %>
        				    </td>
      				    </tr>
    			      <% end %>
  			      <% else %>
  			        <p>まだいいねがありません</p>
  			      <% end %>
    			    <!--<p>コメント数:<%#= @post.post_comments.count %></p>-->
  			    </tbody>
		      </table>
      </div>
    </div>
  </div>
</div>