<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <% if @event.present? %>
        <h3><%= @event.name %>概要</h3><br>
        <%= safe_join(@event.introduction.split("\n"),tag(:br)) %><br>
        <%= link_to "チケット情報", event_tickets_path %><br><br>

        <p>▼グッズ情報はこちらから</p>
        <%= link_to "グッズ情報", goods_path %><br>
        <%= link_to '戻る', root_path %>
      <% end %>
    </div>
  </div>
</div>
