<h1>■投稿一覧</h1>
<% @posts.each do |post| %>
  <p>タイトル：<%= post.title %></p>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image(100,100) %><br>
  <% end %>
  <% if post.event.present? %>
    <%# post.event.each do |event| %>
      <%= post.event.created_at.strftime("%Y/%m/%d") %><br>
      <%= link_to post.event.name, event_path(post.event.id) %>

      <%#= image_tag post.event.get_image(100,100) %>
    <%# end %>
  <% end %>
  <% if post.event_repo.present? %>
    <label>▽イベントレポート情報はこちらから</label>
    <%# post.event_repos.each do |event_repo| %>
      <%= link_to post.event_repo.event_repos_title, event_repos_path %><br>
    <%# end %>

  <% end %>
     <%= post.body %>
    <%#= link_to post.event.url_strings, events_path %><br>
  <% if post.favorited?(current_customer) %>
      <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ -->
      <%= link_to post_favorites_path(post.id), method: :delete do %>
          <span style="color:red;">❤︎</span>
      <% end %>
  <% else %>
      <!-- # 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ -->
      <%= link_to post_favorites_path(post.id), method: :post do %>
          <span>❤︎</span>
      <% end %>
  <% end %>
  <p>コメント数: <%= post.post_comments.count %></p>
<% end %>
<%#= paginate @posts %>