<h1>■イベント一覧</h1>
<% @posts.each do |post| %>
  <p>タイトル：<%= post.title %></p>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image(100,100) %><br>
  <% end %>

    <%= post.event.introduction %><br>
    <%= link_to post.event.url_strings, events_path %><br>

  <% if post.favorited?(current_customer) %>
      <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ -->
      <%= link_to post_favorites_path(post.id), method: :delete do %>
          <span style="color:red;">❤︎</span>
      <% end %>
  <% else %>
      <!-- # 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ -->
      <%= link_to post_favorites_path(post.id), method: :post do %>
          <span>❤︎</span>
      <% end %>
  <% end %>
  <p>コメント数: <%= post.post_comments.count %></p>
<% end %>
<%#= paginate @posts %>