<h3>イベント投稿フォーム</h3>
<%= form_for(@post, url: posts_path) do |f| %>
  <%= f.label :タイトル %><br>
  <%= f.text_field :title, autofocus: true, autocomplete: "title" %><br>
  <label>■画像選択</label>
  <%= f.file_field :image, accept:"image/*" %><br>
  <label>■本文</label>
  <%= f.collection_select :event_id, Event.all, :id, :introduction, {include_blank: "選択してください"} %><br>
  <%= f.text_area :body %>
  <%#= f.collection_select :event_repo_id, EventRepo.all, :id, :event_repos_body, {include_blank: "選択してください"} %>
  <%# if flash[:error].present? %>
  <!--<div class="alert alert-danger">-->
  <!--  <%#= flash[:error] %>-->
  <!--</div>-->
  <%# end %>
  <%= f.submit '投稿' %>
<% end %>
