<h3>イベント投稿フォーム</h3>
<%= form_for(@post, url: posts_path) do |f| %>
  <%= f.label :タイトル %><br>
  <%= f.text_field :title, autofocus: true, autocomplete: "title" %><br>
  <label>■画像選択</label>
  <%= f.file_field :image, accept:"image/*" %><br>
  <label>■本文</label>
  <%= f.collection_select :event_ids, Event.all, :id, :introduction, {}, {name: "post[event_ids][]", include_blank: "選択してください"} %><br>

  <%= f.submit '投稿' %>
<% end %>
