<p>タイトル：<%= @post.title %></p>
<%= image_tag @post.get_image(100,100) %><br>
<% if @post.event.present? %>
  <%# @post.events.each do |event| %>
  <%= safe_join(@post.event.introduction.split("\n"),tag(:br)) %><br>
  <%= link_to @post.event.url_strings,event_tickets_path %><br>
  <p>▼グッズ情報はこちらから</p>
  <%= link_to "グッズ情報", goods_path %>
  <% end %>

<% if @post.event_questionnaires_question.present? %>
  <label>▽イベントレポートアンケートはこちらから</label>
  <%= link_to @post.event_questionnaires_question.title, new_event_questionnaires_question_path %>
<% end %>
  <%# end %>

<% if @post.present? %>
  <!--<label>▽イベントレポート情報はこちらから</label>-->
  <%# @post.event_repos.each do |event_repo| %>
    <%#= link_to @post.event_repos_title, event_repos_path %>
  <%# end %>
  <%= @post.body %>
<% end %>



<% if @post.favorited?(current_customer) %>
  <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ -->
  <%= link_to post_favorites_path(@post.id), method: :delete do %>
    <span style="color:red;">❤︎</span>
  <% end %>
<% else %>
  <!-- # 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ -->
  <%= link_to post_favorites_path(@post.id), method: :post do %>
    <span>❤︎</span>
  <% end %>
<% end %>
<div>
  <p>コメント一覧</p>
  <% @post_comments.each do |post_comment| %>
    <div>
      <%= post_comment.customer.last_name unless post_comment.customer.blank? %>
      <br />
      <%= post_comment.comment %>
    </div>
  <% end %>
  <% if customer_signed_in? %>
      <%= form_with(model: [@post, @post_comment], local: true) do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %><br>
        <%= f.submit "送信" %>
      <% end %>
  <% end %>
</div>
