<h3>イベント情報詳細</h3>
<div>
  <label>イベント名</label>
  <%= @event.name %><br>
  <label>イベント説明</label>
  <%= @event.introduction %><br>
  <label>イベントURL</label>
  <%= @event.url_strings %><br>
  <label>ジャンル</label>
  <%= @event.genre.name %><br>
  <label>投稿ステータス</label>
  <% if @event.post_status %><br>
    投稿中
  <% else %>
    投稿完了
  <% end %>
  <div>
    <%= link_to '編集する', edit_admin_event_path(@event.id) %>
  </div>
</div>