<h3>〇〇イベント</h3>
<p>一般販売</p>
<label>■イベントチケット情報</label>
<table>
  <thead>
    <tr>
      <th>公演名</th>
      <th>公演期間</th>
      <th>公演会場</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @eventtickets.each do |event_tickets| %>
      <tr>
        <td><%= event_tickets.ticket_name %></td>
        <td><%= event_tickets.ticket_startday %>～<%= event_tickets.ticket_endday %></td>
        <td><%= event_tickets.ticket_place %></td>
        <td>
          <% if event_tickets.sales_status == true %>
            販売中
          <% else %>
            販売終了
          <% end %>
        </td>
        <td>
          <%= link_to '詳細へ',  event_ticket_path(event_tickets.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @eventtickets %>