<div>
  <h3>注文履歴詳細</h3>
  <div>
    <h5>注文情報</h5>
    <table>
      <tbody>
        <tr>
          <th>注文日</th>
          <td><%= @ticketorder.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td><%= @ticketorder.postcode %><%= @ticketorder.address %><%= @ticketorder.customer.lastname %><%= @ticketorder.firstname %></td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @ticketorder.payment_method %></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td><%= @ticketorder.sales_status %></td>
        </tr>
      </tbody>
    </table>
    <h5>注文内容</h5>
    <table>
      <tbody>
        <tr>
          <th>チケットタイトル</th>
          <th>単価（税込）</th>
          <th>枚数</th>
          <th>小計</th>
        </tr>
        <% @ticket_order_details.each do |ticket_order_detail| %>
          <tr>
            <td><%= ticket_order_detail.event_ticket.event_title %></td>
            <td><%= ticket_order_detail.price %></td>
            <td><%= ticket_order_detail.amount %></td>
            <td><%= (ticket_order_detail.price * ticket_order_detail.amount) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <h5>請求情報</h5>
    <table>
      <tbody>
        <% total = 0 %>
        <tr>
          <th>チケット合計</th>
          <td><%= @ticketorder.payment -800 %></td>
        </tr>
        <tr>
          <th>配送料</th>
          <td><%= @ticketorder.postage %></td>
        </tr>
        <tr>
          <th>ご請求金額</th>
          <td><%= @ticketorder.payment.to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>