<h3>アンケート回答詳細情報</h3>
<label>性別</label>
<%= form_with model: @event_questionnaires_answer, url: admin_event_questionnaires_answer_path(@event_questionnaires_answer), local: true do |f| %>
  <%= f.select :gender, ["男", "女"] %>
<% end %><br>
<label>〇〇イベントに参加したきっかけ</label>
<%= @event_questionnaires_answer.reason %><br>
<label>満足度</label>
<%= form_with model: @event_questionnaires_answer, url: admin_event_questionnaires_answer_path(@event_questionnaires_answer), local: true do |f| %>
  <%= f.select :satisfaction, ['１','２','３','４','５','６','７','８','９','１０'] %>
<% end %><br>
<label>満足度の理由</label>
<% @event_questionnaires_answer.reason_for_satisfaction %><br>
<label>参加決意</label>
<%= form_with model: @event_questionnaires_answer, url: admin_event_questionnaires_answer_path(@event_questionnaires_answer), local: true do |f| %>
  <%= f.select :participation, ['参加したい','参加したくない'] %>
<% end %><br>
<label>イベントの感想</label>
<% @event_questionnaires_answer.impressions %><br>
<div>
  <%= link_to '編集する', edit_admin_event_questionnaires_answer_path(@event_questionnaires_answer.id) %>
</div>
