<div class="container">
  <h3 class="mb-0">〇〇イベントグッズ一覧</h3>(全<%= @quantity %>件)<br>
    <div class="row">
      <%# if @good.event_id = 1 %>
      <% @goods.each do | good | %>
        <div class="col-4">
          <%= link_to good_path(good.id) do %>
            <%= image_tag good.get_image(200,200) %>
          <% end %>
            <p><%= good.name %></p>
            <p>￥<%= good.price.to_s(:delimited, delimiter: ',') %></p>
          </div>
      <% end %>
      <%# end %>
  </div>
</div>