<h3>イベントレポート詳細</h3>
<label>イベントレポート名</label>
<%= @eventrepo.event_repos_title %><br>
<label>イベントレポート内容</label>
<%= @eventrepo.event_repos_body %><br>
<label>ジャンル</label>
<%= @eventrepo.genre.name %><br>
<label>投稿ステータス</label>
<% if @eventrepo.post_status == true %>
  投稿中
<% else %>
  投稿完了
<% end %>
<div>
    <% @eventrepo.images.each do |images| %>
      <%= image_tag(images, heght:100, width:100) %>
    <% end %>
</div>
<div>
  <%= link_to '編集する', edit_admin_event_repo_path(@eventrepo.id) %>
</div>
