<h3>■グッズ情報詳細</h3>

  <div>
    <%= image_tag @good.get_image(100,100) %>
  </div>
  <label>グッズ名</label>
  <%= @good.name %><br>
  <label>価格</label>
  ￥<%= @good.price.to_s(:delimited, delimiter: ',') %><br>
  <label>グッズ説明</label>
  <%= @good.introduction %><br>
  <label>投稿ステータス</label>
  <% if @good.post_status == true %>
    投稿中
  <% else %>
  　投稿完了
  <% end %><br>
  <div>
    <%= link_to '編集する',  edit_admin_good_path(@good.id) %>
  </div>