<!DOCTYPE html>
<html>
  <head>
    <title>Special Event</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class ="container">
        <nav class="nav navbar-nav navbar-left" >

        </nav>
        <% if customer_signed_in? %>
          <li>ようこそ！</li><br>

          <li><%= link_to "NEWS" %></li>
          <li><%= link_to "イベント情報" %></li>
          <li><%= link_to "グッズ情報" %></li>
          <li><%= link_to "イベントレポート" %></li>
          <li><%= link_to "アンケート" %></li>
          <li><%= link_to "マイページ" %></li>
          <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "NEWS" %></li>
          <li><%= link_to "イベント情報" %></li>
          <li><%= link_to "新規登録", new_customer_registration_path %></li>
          <li><%= link_to "ログイン", customer_session_path %></li>
          <li><%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post %></li>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
