<!DOCTYPE html>
<html>
  <head>
    <title>Special Event</title>
    <!--<meta name="viewport" content="width=device-width,initial-scale=1">-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <div id ="header-image" style="background-image: url('/assets/live.jpg'); background-position: bottom;">
        <!--<div>Logo created by <a href="https://www.designevo.com/" title="Free Online Logo Maker">DesignEvo logo maker</a></div>-->
        <div class ="container">
          <nav class="navbar navbar-expand-lg navbar-light">
            <%= link_to image_tag( '/assets/logo-transparent.png', size: '150x150'), root_path %>
            <ul class="navbar-nav ml-auto">
             <% if customer_signed_in? %>
                <p class="text-light">ようこそ！<%= current_customer.last_name %>さん！</p>
                <li class="nav-item"><%= link_to "投稿フォーム", new_post_path, class: 'nav-link text-light' %></li>
                <!--<li class="nav-item"><%#= link_to "イベントNEWS", events_path,  class: 'nav-link text-dark' %></li>
                <li class="nav-item"><%#= link_to "グッズ情報",goods_path,  class: 'nav-link text-dark' %></li>-->
                <!--<li><%#= link_to "イベントレポート投稿フォーム",  new_event_repo_path %></li>-->
                <!--<li><%#= link_to "アンケート" %></li>-->
                <li class="nav-item"><%= link_to "マイページ", customers_path,  class: 'nav-link text-light' %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete,  class: 'nav-link text-light' %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div id ="main-image" style="background-image: url('/assets/live.jpg'); background-position: bottom;">
      <main class="mb-auto">
        <%= yield %>
      </main>
      <footer></footer>
      </div>
    </div>
  </body>
</html>
